@import 'theme';

.button {
  min-width: baseSize(6);
  min-height: baseSize(6);
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: baseSize();
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  padding: baseSize();
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;

  &:disabled {
    background-color: #767a7c;
    color: #ecf0f1;
    cursor: not-allowed;
  }

  &:hover:not(:disabled),
  &:focus-visible {
    background-color: #166336;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.35s;
    box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
  }

  &:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
  }
}

.button_icon {
  display: flex;
}
