@import "theme";

.main_popup {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.main_popup__add_button_container {
  margin-top: baseSize(2);
  flex-grow: 1;
  display: flex;
  justify-content: end;

  button {
    min-width: baseSize(14);
  }
}
