@import 'theme';

.full_screen_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(48, 48, 48, 0.74);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  position: absolute;
  bottom: baseSize(14); // 56px
  background-color: rgb(213, 221, 189);
  padding: baseSize(2);
  border: 1px solid gray;
  border-radius: baseSize();
}

.modal__header {
  display: flex;
  justify-content: end;
  margin-bottom: baseSize(2);

  button {
    width: baseSize(6);
    height: baseSize(6);
  }
}
