@import "theme";

.modal {
  position: absolute;
  bottom: baseSize(14); // 56px
  background-color: rgb(218, 230, 171);
  padding: baseSize();
  border: 1px solid gray;
  border-radius: baseSize();
}

.modal__header {
  display: flex;
  justify-content: end;

  button {
    width: baseSize(6);
    height: baseSize(6);
  }
}
