@import 'theme';

.edit_note_popup {
  min-width: 250px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: baseSize();

  input,
  textarea {
    font-size: small;
  }
}
