@import "../../styles/theme.scss";

.popup-button-container {
  position: absolute;
  bottom: baseSize(4);

  button {
    opacity: 40%;

    svg {
      height: baseSize(6);
      width: baseSize(6);
    }
  }
}
