@import 'theme';

.item {
  margin: baseSize();
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: baseSize(2);
}

.item_dragging {
  background-color: rgb(252 253 249 / 43%);
}

.item__position {
  min-width: baseSize(4);
  font-size: small;
  text-align: right;
}

.item__title {
  background: none;
  box-shadow: none;
  border: none;
  text-align: start;
  color: unset;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  padding: baseSize();
  border-radius: baseSize();

  &:hover,
  &:focus-visible {
    outline: 1px solid gray;
    cursor: pointer;
  }
}
