@import "theme";

.item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: baseSize(2);
}

.item_dragging {
  background-color: rgb(252 253 249 / 43%);
}

.item__title {
  background: none;
  box-shadow: none;
  border: none;
  text-align: start;

  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  padding: baseSize();
  border-radius: baseSize();

  &:hover,
  &:focus-visible {
    outline: 1px solid gray;
    cursor: pointer;
  }
}
